/* Reset CSS */
* {
  padding: 0;
  margin: 0;
}
/* Specify my customs color for the whole project */
:root {
  --green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
}
/* Basic css rules for the whole project */
body {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background-color: var(--OffBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* CSS for the card ONLY, not the content*/
.card {
  background-color: var(--DarkGrey);
  border-radius: 10px;
  padding: 20px;
}
/* Rules for what i called the "HEADER" of the card. It contains the profile picture, the name i put as H1 and the city. */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  h1 {
    color: var(--White);
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    color: var(--green);
  }
}
/* Rules for the paragraph tag inside the card div (and not the paragraph tag inside the header as above). That way, i can avoid issue between these two paragraph tag */
.card > p {
  color: var(--White);
  margin-top: 25px;
}
